<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href={% static "chat/css/styles.css"%}>
    <title>Join</title>
  </head>

  <body>
    <div class="login-form">
      <h1>Join</h1>

      <input
        type="text"
        id="room-name-input"
        name="room"
        placeholder="Room name"
        required
        autocomplete="off"
      />
      <button id="room-info-submit"><p>Join</p></button>
    </div>
    <script>
      document.querySelector("#room-name-input").focus();
      document.querySelector("#room-name-input").onkeyup = function (e) {
        if (e.keyCode === 13) {
          // enter, return
          document.querySelector("#room-info-submit").click();
        }
      };

      document.querySelector("#room-info-submit").onclick = function (e) {
        var roomName = document.querySelector("#room-name-input").value;
        if (roomName.length > 0) {
          window.location.pathname = "/chat/" + roomName + "/";
        } else {
          alert("Enter a room name.");
        }
      };
    </script>
  </body>
</html>
