<!DOCTYPE html>
{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href={% static "chat/css/styles.css"%}>


    <title>Anonymous chat room</title>
  </head>
  <body>
    <div class="chat">
      <div class="chat__sidebar"></div>
      <div class="chat__main">
        <div id="messages"></div>

        <footer>
          <form id="message-form">
            <input type="textarea" placeholder="Message" autocomplete="off" />
            <button type="submit">Send</button>
          </form>

          <button id="get-geo" type="button">Send location</button>
        </footer>
      </div>
    </div>
    {{ room_name|json_script:"room-name" }}
        <script src="{% static 'chat/js/room.js' %}"></script>
  </body>
</html>
